<div class="container">
  <h1><%= @restaurant.name %></h1>
  <h3><%= @restaurant.category%></h3>
  <p><%= "#{@restaurant.phone_number -- @restaurant.address}" %></p>
</div>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %> |
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
