<div class="container">
  <ul>
    <h1><%= @restaurant.name %></h1>
    <li><h3><%= @restaurant.category%></h3></li>
    <li><p><%= "#{@restaurant.phone_number} -- #{@restaurant.address}" %></p></li>
  </ul>
</div>



<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %> |
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
